html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        include links.jade
        title Medecine generale
        link(rel='shortcut icon' ,type='image/png', href='/images/logo.png')
        link(rel='stylesheet', href='/stylesheets/style.css')

        


        include menu.jade
        br
        br
        br
        body

        block content
            h1 Listes des personne :
            table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th Nom
                        th Prenom
                        th profession
                        th service
                        th tel
                        
                tbody 
                each personnel, i in users
                    tr
                        td  #{personnel.name}
                        td  #{personnel.prenom}
                        td  #{personnel.profession}
                        td  #{personnel.service}  
                        td  #{personnel.number}
                        script.
                          $(document).ready(function() {
                          $('#example').DataTable();
                          } ); 









